form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #f7f7f7;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  select,
  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  select {
    appearance: none;
    background-color: #fff;
    cursor: pointer;
  }
  
  textarea {
    resize: vertical;
  }
  
  input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  

  section {
    margin-top: 20px; /* Adjust as needed */
    border: 1px solid #ddd; /* Border for the section */
    padding: 10px;
  }
  
  h2 {
    font-size: 1.5em; /* Adjust the font size as needed */
    color: #333; /* Color for the heading */
  }
  
  pre {
    white-space: pre-wrap; /* Preserve line breaks */
    background-color: #f9f9f9; /* Background color for the response block */
    padding: 10px;
    border-radius: 5px;
    font-family: monospace; /* Use a fixed-width font for preformatted text */
    font-size: 1em; /* Adjust the font size as needed */
  }